JiraSwift.xcodeproj/xcuserdata/*.xcuserdatad/xcdebugger/
JiraSwift.xcodeproj/project.xcworkspace/xcuserdata/
JiraSwift.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
JiraSwift.xcodeproj/xcshareddata/*
.DS_Store
.build/*
