JiraSwift.xcodeproj/xcuserdata/bill.xcuserdatad/xcdebugger/
JiraSwift.xcodeproj/project.xcworkspace/xcuserdata/
JiraSwift.xcodeproj/xcuserdata/bill.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
